{
  "overwrite": true,
  "dashboard":
    {
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": "-- Grafana --",
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "editable": true,
    "gnetId": null,
    "graphTooltip": 0,
    "id": null,
    "links": [],
    "panels": [
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.master_cpu_threshold }}
                ],
                "type": "gt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Master CPU is above threshold",
          "name": "Master CPU alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} master CPU",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 0,
          "y": 0
        },
        "hiddenSeries": false,
        "id": 27,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#73BF69"
          },
          {
            "alias": "average",
            "color": "#C8F2C2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"master_nodes\",mode=\"idle\"}[5m])) * 100)",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"master_nodes\",mode=\"idle\"}[5m])) * 100))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "gt",
            "value": "{{ item.master_cpu_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Master CPU",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "percent",
            "label": null,
            "logBase": 1,
            "max": "100",
            "min": "0",
            "show": true
          },
          {
            "format": "Misc",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.hot_cpu_threshold }}
                ],
                "type": "gt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Hot CPU is above threshold",
          "name": "Hot CPU alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} hot CPU",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 4,
          "y": 0
        },
        "hiddenSeries": false,
        "id": 6,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#C4162A"
          },
          {
            "alias": "average",
            "color": "#FFA6B0"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"hot_nodes\",mode=\"idle\"}[5m])) * 100)",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"hot_nodes\",mode=\"idle\"}[5m])) * 100))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "gt",
            "value": "{{ item.hot_cpu_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Hot CPU",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "percent",
            "label": null,
            "logBase": 1,
            "max": "100",
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.warm_cpu_threshold }}
                ],
                "type": "gt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Warm CPU is above threshold",
          "name": "Warm CPU alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} warm CPU",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 8,
          "y": 0
        },
        "hiddenSeries": false,
        "id": 4,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"warm_nodes\",mode=\"idle\"}[5m])) * 100)",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"warm_nodes\",mode=\"idle\"}[5m])) * 100))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "gt",
            "value": "{{ item.warm_cpu_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Warm CPU",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "percent",
            "label": null,
            "logBase": 1,
            "max": "100",
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.cold_cpu_threshold }}
                ],
                "type": "gt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Cold CPU is above threshold",
          "name": "Cold CPU alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} cold CPU",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 12,
          "y": 0
        },
        "hiddenSeries": false,
        "id": 2,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"cold_nodes\",mode=\"idle\"}[5m])) * 100)",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"cold_nodes\",mode=\"idle\"}[5m])) * 100))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "gt",
            "value": "{{ item.cold_cpu_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Cold CPU",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "percent",
            "label": null,
            "logBase": 1,
            "max": "100",
            "min": "0",
            "show": true
          },
          {
            "format": "Misc",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.kibana_cpu_threshold }}
                ],
                "type": "gt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Kibana CPU is above threshold",
          "name": "Kibana CPU alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} kibana CPU",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 16,
          "y": 0
        },
        "hiddenSeries": false,
        "id": 31,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#8F3BB8"
          },
          {
            "alias": "average",
            "color": "#DEB6F2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"kibana\",mode=\"idle\"}[5m])) * 100)",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"kibana\",mode=\"idle\"}[5m])) * 100))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "gt",
            "value": "{{ item.kibana_cpu_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Kibana CPU",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "percent",
            "label": null,
            "logBase": 1,
            "max": "100",
            "min": "0",
            "show": true
          },
          {
            "format": "Misc",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} master free memory",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 0,
          "y": 6
        },
        "hiddenSeries": false,
        "id": 28,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#73BF69"
          },
          {
            "alias": "average",
            "color": "#C8F2C2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_memory_MemFree_bytes{job=\"master_nodes\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_memory_MemFree_bytes{job=\"master_nodes\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Master Memory Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.master_memory_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} hot free memory",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 4,
          "y": 6
        },
        "hiddenSeries": false,
        "id": 14,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#C4162A"
          },
          {
            "alias": "average",
            "color": "#FFA6B0"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_memory_MemFree_bytes{job=\"hot_nodes\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_memory_MemFree_bytes{job=\"hot_nodes\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Hot Memory Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.hot_memory_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} warm free memory",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 8,
          "y": 6
        },
        "hiddenSeries": false,
        "id": 13,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_memory_MemFree_bytes{job=\"warm_nodes\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_memory_MemFree_bytes{job=\"warm_nodes\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Warm Memory Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.warm_memory_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} cold free memory",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 12,
          "y": 6
        },
        "hiddenSeries": false,
        "id": 8,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_memory_MemFree_bytes{job=\"cold_nodes\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_memory_MemFree_bytes{job=\"cold_nodes\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Cold Memory Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.cold_memory_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} kibana free memory",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 16,
          "y": 6
        },
        "hiddenSeries": false,
        "id": 32,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#8F3BB8"
          },
          {
            "alias": "average",
            "color": "#DEB6F2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_memory_MemFree_bytes{job=\"kibana\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_memory_MemFree_bytes{job=\"kibana\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Kibana Memory Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.kibana_memory_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.master_root_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Master root disk below threshold",
          "name": "Master Root Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} master root disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 0,
          "y": 12
        },
        "hiddenSeries": false,
        "id": 29,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#73BF69"
          },
          {
            "alias": "average",
            "color": "#C8F2C2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"master_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"master_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.master_root_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Master Root Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.master_root_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.hot_root_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Hot root disk is below threshold",
          "name": "Hot Root Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} hot root disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 4,
          "y": 12
        },
        "hiddenSeries": false,
        "id": 21,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#C4162A"
          },
          {
            "alias": "average",
            "color": "#FFA6B0"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"hot_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"hot_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.hot_root_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Hot Root Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.hot_root_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.warm_root_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Warm root disk is below threshold",
          "name": "Warm Root Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} warm root disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 8,
          "y": 12
        },
        "hiddenSeries": false,
        "id": 22,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"warm_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"warm_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.warm_root_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Warm Root Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.warm_root_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.cold_root_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Cold root disk below threshold",
          "name": "Cold Root Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} cold root disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 12,
          "y": 12
        },
        "hiddenSeries": false,
        "id": 18,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"cold_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"cold_nodes\", device=\"/dev/nvme0n1p1\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.cold_root_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Cold Root Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.cold_root_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.kibana_root_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Kibana root disk below threshold",
          "name": "Kibana Root Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} kibana root disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 16,
          "y": 12
        },
        "hiddenSeries": false,
        "id": 33,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#8F3BB8"
          },
          {
            "alias": "average",
            "color": "#DEB6F2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"kibana\", device=\"/dev/nvme0n1p1\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"kibana\", device=\"/dev/nvme0n1p1\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.kibana_root_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Kibana Root Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.kibana_root_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.master_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Master data disk is below threshold",
          "name": "Master Data Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} master data disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 0,
          "y": 18
        },
        "hiddenSeries": false,
        "id": 35,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#73BF69"
          },
          {
            "alias": "average",
            "color": "#C8F2C2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"master_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"master_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.master_data_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Master Data Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.master_data_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.hot_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Hot data disk is below threshold",
          "name": "Hot Data Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} hot data disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 4,
          "y": 18
        },
        "hiddenSeries": false,
        "id": 36,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#C4162A"
          },
          {
            "alias": "average",
            "color": "#FFA6B0"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"hot_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"hot_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.hot_data_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Hot Data Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.hot_data_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.warm_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Warm data disk is below threshold",
          "name": "Warm Data Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} warm data disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 8,
          "y": 18
        },
        "hiddenSeries": false,
        "id": 37,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"warm_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"warm_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.warm_data_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Warm Data Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.warm_data_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.cold_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Cold data disk is below threshold",
          "name": "Cold Data Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} cold data disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 12,
          "y": 18
        },
        "hiddenSeries": false,
        "id": 38,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"cold_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}}{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"cold_nodes\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.cold_data_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Cold Data Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.cold_data_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.kibana_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            },
            {
              "evaluator": {
                "params": [
                  {{ item.kibana_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "D",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "5m",
          "frequency": "1m",
          "handler": 1,
          "message": "Kibana data disk is below threshold",
          "name": "Kibana Data Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} kibana data disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 16,
          "y": 18
        },
        "hiddenSeries": false,
        "id": 39,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*.(elasticsearch_data.)/",
            "color": "#8F3BB8"
          },
          {
            "alias": "average (elasticsearch_data)",
            "color": "#DEB6F2"
          },
          {
            "alias": "/.*.(kibana_data.)/",
            "color": "#A352CC"
          },
          {
            "alias": "average (kibana_data)",
            "color": "#CA95E5"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"kibana\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}} (elasticsearch_data){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"kibana\", mountpoint=\"/var/lib/elasticsearch\"}/1073741824)",
            "interval": "",
            "legendFormat": "{% raw %}average (elasticsearch_data){% endraw %}",
            "refId": "B"
          },
          {
            "expr": "node_filesystem_avail_bytes{job=\"kibana\", mountpoint=\"/var/lib/kibana\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{private_ip}} (kibana_data){% endraw %}",
            "refId": "C"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"kibana\", mountpoint=\"/var/lib/kibana\"}/1073741824)",
            "interval": "",
            "legendFormat": "{% raw %}average (kibana_data){% endraw %}",
            "refId": "D"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.kibana_data_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Kibana Data Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.kibana_data_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} master nodes network traffic",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 0,
          "y": 24
        },
        "hiddenSeries": false,
        "id": 30,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#73BF69"
          },
          {
            "alias": "average",
            "color": "#C8F2C2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_receive_bytes_total{job=\"master_nodes\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} receive ({{private_ip}}){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_receive_bytes_total{job=\"master_nodes\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Master Network Traffic",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} hot nodes network traffic",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 4,
          "y": 24
        },
        "hiddenSeries": false,
        "id": 26,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#C4162A"
          },
          {
            "alias": "average",
            "color": "#FFA6B0"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_receive_bytes_total{job=\"hot_nodes\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} receive ({{private_ip}}){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_receive_bytes_total{job=\"hot_nodes\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Hot Network Traffic",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} warm nodes network traffic",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 8,
          "y": 24
        },
        "hiddenSeries": false,
        "id": 25,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_receive_bytes_total{job=\"warm_nodes\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} receive ({{private_ip}}){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_receive_bytes_total{job=\"warm_nodes\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Warm Network Traffic",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} cold nodes network traffic",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 12,
          "y": 24
        },
        "hiddenSeries": false,
        "id": 24,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_receive_bytes_total{job=\"cold_nodes\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} receive ({{private_ip}}){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_receive_bytes_total{job=\"cold_nodes\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Cold Network Traffic",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "logging-{{ item.environment }}",
        "description": "Logging {{ item.environment }} kibana nodes network traffic",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 4,
          "x": 16,
          "y": 24
        },
        "hiddenSeries": false,
        "id": 34,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#8F3BB8"
          },
          {
            "alias": "average",
            "color": "#DEB6F2"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_receive_bytes_total{job=\"kibana\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} receive ({{private_ip}}){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_receive_bytes_total{job=\"kibana\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Kibana Network Traffic",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      }
    ],
    "refresh": false,
    "schemaVersion": 26,
    "style": "dark",
    "tags": [],
    "templating": {
      "list": []
    },
    "time": {
      "from": "now-6h",
      "to": "now"
    },
    "timepicker": {},
    "timezone": "",
    "title": "{{ item.environment }} logging nodes",
    "uid": "{{ item.environment }}-logging-nodes"
  }
}
