{
    "disableResolveMessage": false,
    "frequency": "6h",
    "isDefault": false,
    "name": "slack_notification",
    "secureFields": {
       "url": true
    },
    "sendReminder": true,
    "settings": {
       "autoResolve": true,
       "httpMethod": "POST",
       "iconEmoji": "",
       "iconUrl": "",
       "mentionGroups": "",
       "mentionUsers": "",
       "recipient": "{{ item.grafana_slack_recipient }}",
       "severity": "critical",
       "token": "",
       "uploadImage": false,
       "url": "{{ item.grafana_slack_webhook }}",
       "username": "Logging {{ item.environment }}"
    },
    "type": "slack",
    "uid": "slack_notification"
}
