{
  "id": "{{ item.name }}",
  "name": "{{ item.name }}",
  "description": "This is the {{ item.name }} environment Space",
  "disabledFeatures": [],
  "color": "#aabbcc",
  "initials": "{{ item.initials }}"
}
