{
    "policy": {
        "phases": {
        	"hot": {
                "min_age": "0ms",
                "actions": {
                    "rollover": {
                        "max_size": "{{ item.rollover_index_size }}",
                        "max_age": "{{ item.hot_age }}"
                    },
                    "set_priority": {
                        "priority": 100
                    }
                }
            },
            "warm": {
                "min_age": "{{ item.hot_age }}",
                "actions": {
                    "set_priority": {
                        "priority": 50
                    },
                    "shrink": {
                        "number_of_shards": "1"
                    },
                    "allocate" : {
            			"require" : {
            				"box_type": "warm"
            			}
        			}
                }
            },
            "cold": {
                "min_age": "{{ item.cold_age }}",
                "actions": {
                    "set_priority": {
                        "priority": 0
                    },
                    "allocate" : {
            			"require" : {
            				"box_type": "cold"
            			}
        			}
                }
            },
            "delete": {
                "min_age": "{{ item.delete_age }}",
                "actions": {
                    "delete" : { }
                }
            }
        }
    }
}
